* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.strong {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.none-decoration {
  text-decoration: none;
}

button {
  background-color: blue;
  color: white;
  font-size: 1.2em;
}
